adal==1.2.7
adblockparser==0.7
aiohttp==3.8.4
aiosignal==1.3.1
aniso8601==9.0.1
antlr4-python3-runtime==4.9.1
apparmor==3.0.8
appdirs==1.4.4
applicationinsights==0.11.10
argcomplete==2.0.0
asgiref==3.6.0
asn1crypto==1.5.1
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
autocommand==2.2.2
avro==1.11.1
awscli==2.9.19
awscrt==1.0.0.dev0
azure-agrifood-farming==1.0.0b2
azure-ai-anomalydetector==3.0.0b7
azure-ai-formrecognizer==3.2.1
azure-ai-language-conversations==1.1.0b4
azure-ai-language-questionanswering==1.1.1
azure-ai-metricsadvisor==1.1.0
azure-ai-ml==1.4.0
azure-ai-personalizer==1.0.0b2
azure-ai-textanalytics==5.3.0b2
azure-ai-translation-document==1.0.1
azure-appconfiguration==1.4.0
azure-appconfiguration-provider==1.0.0b2
azure-applicationinsights==0.1.1
azure-batch==13.0.1
azure-cli==2.45.0
azure-cli-core==2.45.0
azure-cli-telemetry==1.0.8
azure-cognitiveservices-anomalydetector==0.3.0
azure-cognitiveservices-formrecognizer==0.1.1
azure-cognitiveservices-knowledge-qnamaker==0.3.0
azure-cognitiveservices-language-luis==0.7.0
azure-cognitiveservices-language-spellcheck==2.0.0
azure-cognitiveservices-language-textanalytics==0.2.1
azure-cognitiveservices-personalizer==0.1.0
azure-cognitiveservices-search-autosuggest==0.2.0
azure-cognitiveservices-search-customimagesearch==0.2.0
azure-cognitiveservices-search-customsearch==0.3.0
azure-cognitiveservices-search-entitysearch==2.0.0
azure-cognitiveservices-search-imagesearch==2.0.0
azure-cognitiveservices-search-newssearch==2.0.0
azure-cognitiveservices-search-videosearch==2.0.0
azure-cognitiveservices-search-visualsearch==0.2.0
azure-cognitiveservices-search-websearch==2.0.0
azure-cognitiveservices-vision-computervision==0.9.0
azure-cognitiveservices-vision-contentmoderator==1.0.0
azure-cognitiveservices-vision-customvision==3.1.0
azure-cognitiveservices-vision-face==0.6.0
azure-common==1.1.29
azure-communication-chat==1.2.0
azure-communication-email==1.0.0b2
azure-communication-identity==1.3.2
azure-communication-jobrouter==1.0.0b1
azure-communication-networktraversal==1.1.0b2
azure-communication-phonenumbers==1.1.0b4
azure-communication-rooms==1.0.0b3
azure-communication-sms==1.1.0
azure-confidentialledger==1.0.1
azure-containerregistry==1.1.0b2
azure-core==1.26.3
azure-core-experimental==1.0.0b2
azure-cosmos==3.1.1
azure-data-tables==12.4.2
azure-datalake-store==0.0.52
azure-developer-devcenter==1.0.0b2
azure-developer-loadtesting==1.0.0b2
azure-devops==0.26.0
azure-digitaltwins-core==1.2.1
azure-eventgrid==4.9.2
azure-eventhub==5.11.0
azure-eventhub-checkpointstoreblob==1.2.0
azure-eventhub-checkpointstoreblob-aio==1.2.0
azure-eventhub-checkpointstoretable==1.0.0b1
azure-graphrbac==0.61.1
azure-identity==1.13.0b2
azure-iot-deviceupdate==1.0.1
azure-iot-modelsrepository==1.0.0b2
azure-keyvault==4.2.1b1
azure-keyvault-administration==4.3.0b2
azure-keyvault-certificates==4.7.0b1
azure-keyvault-keys==4.8.0b3
azure-keyvault-secrets==4.7.0b1
azure-loganalytics==0.1.2
azure-maps-geolocation==1.0.0b1
azure-maps-render==1.0.0b1
azure-maps-route==1.0.0b1
azure-maps-search==1.0.0b2
azure-media-analytics-edge==1.0.0b2
azure-media-videoanalyzer-edge==1.0.0b4
azure-messaging-webpubsubservice==1.1.0b1
azure-mgmt-advisor==10.0.0b1
azure-mgmt-agfood==1.0.0b1
azure-mgmt-agrifood==1.0.0b3
azure-mgmt-alertsmanagement==2.0.0b2
azure-mgmt-apimanagement==3.1.0b1
azure-mgmt-app==1.0.0b2
azure-mgmt-appcomplianceautomation==1.0.0b1
azure-mgmt-appconfiguration==2.2.0
azure-mgmt-appcontainers==2.0.0b2
azure-mgmt-applicationinsights==3.1.0
azure-mgmt-appplatform==7.1.0
azure-mgmt-attestation==2.0.0b1
azure-mgmt-authorization==3.0.0
azure-mgmt-automanage==2.0.0b1
azure-mgmt-automation==1.1.0b3
azure-mgmt-avs==7.2.0b1
azure-mgmt-azureadb2c==1.0.0b1
azure-mgmt-azurearcdata==2.0.0b1
azure-mgmt-azurestack==2.0.0b1
azure-mgmt-azurestackhci==8.0.0b2
azure-mgmt-baremetalinfrastructure==1.1.0b1
azure-mgmt-batch==17.0.0
azure-mgmt-batchai==7.0.0b1
azure-mgmt-billing==6.1.0b1
azure-mgmt-billingbenefits==1.0.0b1
azure-mgmt-botservice==2.0.0b4
azure-mgmt-cdn==12.1.0b1
azure-mgmt-changeanalysis==1.0.0
azure-mgmt-chaos==1.0.0b6
azure-mgmt-cognitiveservices==13.4.0b1
azure-mgmt-commerce==6.0.0
azure-mgmt-communication==2.0.0b2
azure-mgmt-compute==29.0.0
azure-mgmt-confidentialledger==2.0.0b1
azure-mgmt-confluent==2.0.0b2
azure-mgmt-connectedvmware==1.0.0b3
azure-mgmt-consumption==11.0.0b1
azure-mgmt-containerinstance==10.1.0b1
azure-mgmt-containerregistry==10.0.0
azure-mgmt-containerservice==21.1.0
azure-mgmt-core==1.3.3
azure-mgmt-cosmosdb==9.0.0b2
azure-mgmt-costmanagement==4.0.0b1
azure-mgmt-customproviders==1.1.0b1
azure-mgmt-dashboard==1.1.0b1
azure-mgmt-databox==1.0.0
azure-mgmt-databoxedge==1.0.0
azure-mgmt-databricks==1.1.0b2
azure-mgmt-datadog==2.1.0b1
azure-mgmt-datafactory==2.10.0
azure-mgmt-datalake-analytics==1.0.0b2
azure-mgmt-datalake-store==1.0.0
azure-mgmt-datamigration==10.1.0b1
azure-mgmt-dataprotection==1.0.0b3
azure-mgmt-datashare==1.1.0b1
azure-mgmt-deploymentmanager==2.0.0b1
azure-mgmt-desktopvirtualization==1.0.0b2
azure-mgmt-devcenter==1.0.0b4
azure-mgmt-deviceupdate==1.1.0b1
azure-mgmt-devspaces==1.0.0b2
azure-mgmt-devtestlabs==10.0.0b1
azure-mgmt-digitaltwins==6.3.0
azure-mgmt-dns==8.0.0
azure-mgmt-dnsresolver==1.1.0b1
azure-mgmt-documentdb==0.1.3
azure-mgmt-dynatrace==1.1.0b1
azure-mgmt-edgegateway==0.1.0
azure-mgmt-edgeorder==1.0.0
azure-mgmt-education==1.0.0b2
azure-mgmt-elastic==1.1.0b1
azure-mgmt-elasticsan==1.0.0b1
azure-mgmt-eventgrid==10.3.0b1
azure-mgmt-eventhub==10.1.0
azure-mgmt-extendedlocation==1.1.0
azure-mgmt-fluidrelay==1.1.0b1
azure-mgmt-frontdoor==1.1.0b1
azure-mgmt-guestconfig==1.0.0b2
azure-mgmt-hanaonazure==1.1.0b1
azure-mgmt-hdinsight==9.0.0b1
azure-mgmt-healthbot==1.0.0b2
azure-mgmt-healthcareapis==1.2.0b1
azure-mgmt-hybridcompute==8.0.0b1
azure-mgmt-hybridkubernetes==1.2.0b1
azure-mgmt-hybridnetwork==2.0.0b1
azure-mgmt-imagebuilder==1.2.0b1
azure-mgmt-iotcentral==10.0.0b2
azure-mgmt-iothub==2.3.0
azure-mgmt-iothubprovisioningservices==1.2.0b1
azure-mgmt-keyvault==10.1.0
azure-mgmt-kubernetesconfiguration==2.0.0
azure-mgmt-kusto==3.1.0b1
azure-mgmt-labservices==2.1.0b1
azure-mgmt-loadtesting==1.0.0b1
azure-mgmt-loganalytics==13.0.0b6
azure-mgmt-logic==10.1.0b1
azure-mgmt-logz==1.1.0b1
azure-mgmt-machinelearningcompute==1.0.0b2
azure-mgmt-machinelearningservices==2.0.0b1
azure-mgmt-maintenance==2.1.0b2
azure-mgmt-managedservices==7.0.0b1
azure-mgmt-managementgroups==1.1.0b1
azure-mgmt-managementpartner==1.1.0b1
azure-mgmt-maps==2.1.0b1
azure-mgmt-marketplaceordering==1.2.0b1
azure-mgmt-media==10.2.0b1
azure-mgmt-mixedreality==1.1.0b1
azure-mgmt-mobilenetwork==1.0.0
azure-mgmt-monitor==5.0.1
azure-mgmt-msi==6.1.0
azure-mgmt-netapp==9.0.1
azure-mgmt-network==23.0.0b1
azure-mgmt-networkfunction==1.0.0b1
azure-mgmt-nginx==2.1.0b1
azure-mgmt-notificationhubs==8.1.0b1
azure-mgmt-oep==1.0.0b2
azure-mgmt-operationsmanagement==2.0.0b1
azure-mgmt-orbital==1.1.0b1
azure-mgmt-peering==2.0.0b1
azure-mgmt-policyinsights==1.1.0b4
azure-mgmt-portal==1.1.0b1
azure-mgmt-powerbidedicated==1.1.0b1
azure-mgmt-powerbiembedded==2.0.0
azure-mgmt-privatedns==1.1.0b1
azure-mgmt-purview==1.1.0b1
azure-mgmt-quantum==1.0.0b3
azure-mgmt-quota==1.1.0b3
azure-mgmt-rdbms==10.2.0b6
azure-mgmt-recoveryservices==2.2.0
azure-mgmt-recoveryservicesbackup==5.1.0b3
azure-mgmt-recoveryservicessiterecovery==1.0.0
azure-mgmt-redhatopenshift==1.1.0
azure-mgmt-redis==14.1.0
azure-mgmt-redisenterprise==2.1.0b1
azure-mgmt-regionmove==1.0.0b1
azure-mgmt-relay==2.0.0b1
azure-mgmt-reservations==2.2.0b1
azure-mgmt-resource==22.0.0
azure-mgmt-resourceconnector==1.0.0b3
azure-mgmt-resourcegraph==8.1.0b3
azure-mgmt-resourcehealth==1.0.0b2
azure-mgmt-resourcemover==1.1.0b3
azure-mgmt-scheduler==7.0.0b1
azure-mgmt-scvmm==1.0.0b2
azure-mgmt-search==9.0.0b1
azure-mgmt-security==3.0.0
azure-mgmt-securitydevops==1.0.0b2
azure-mgmt-securityinsight==2.0.0b2
azure-mgmt-serialconsole==1.1.0b1
azure-mgmt-servermanager==2.0.0
azure-mgmt-servicebus==8.1.0
azure-mgmt-servicefabric==2.1.0b1
azure-mgmt-servicefabricmanagedclusters==2.0.0b3
azure-mgmt-servicelinker==1.2.0b1
azure-mgmt-signalr==1.2.0b1
azure-mgmt-sql==4.0.0b6
azure-mgmt-sqlvirtualmachine==1.0.0b4
azure-mgmt-storage==21.0.0
azure-mgmt-storagecache==1.4.0b1
azure-mgmt-storageimportexport==1.0.0b2
azure-mgmt-storagepool==1.1.0b1
azure-mgmt-storagesync==2.0.0b1
azure-mgmt-streamanalytics==2.0.0b1
azure-mgmt-subscription==3.2.0b1
azure-mgmt-support==6.1.0b1
azure-mgmt-synapse==2.1.0b6
azure-mgmt-testbase==1.0.0b2
azure-mgmt-timeseriesinsights==2.0.0b1
azure-mgmt-trafficmanager==1.1.0b1
azure-mgmt-videoanalyzer==1.0.0b4
azure-mgmt-vmwarecloudsimple==1.0.0b2
azure-mgmt-web==7.0.0
azure-mgmt-webpubsub==1.1.0b1
azure-mgmt-workloadmonitor==1.0.0b4
azure-mgmt-workloads==1.0.0b2
azure-mixedreality-authentication==1.0.0b2
azure-mixedreality-remoterendering==1.0.0b2
azure-monitor-ingestion==1.0.0b2
azure-monitor-opentelemetry-exporter==1.0.0b12
azure-monitor-query==1.1.0
azure-multiapi-storage==1.0.0
azure-purview-administration==1.0.0b2
azure-purview-catalog==1.0.0b5
azure-purview-scanning==1.0.0b3
azure-schemaregistry==1.3.0b1
azure-schemaregistry-avroencoder==1.0.1
azure-search-documents==11.4.0b3
azure-security-attestation==1.0.1
azure-servicebus==7.8.2
azure-servicefabric==8.2.0.0
azure-servicemanagement-legacy==0.20.7
azure-storage-blob==12.15.0b1
azure-storage-blob-changefeed==12.0.0b5
azure-storage-file-datalake==12.10.0b1
azure-storage-file-share==12.11.0b1
azure-storage-queue==12.6.0b1
azure-synapse==0.1.1
azure-synapse-accesscontrol==0.8.0
azure-synapse-artifacts==0.15.0
azure-synapse-managedprivateendpoints==0.5.0
azure-synapse-monitoring==0.3.0
azure-synapse-spark==0.8.0
azure-template==0.0.18b3
Babel==2.10.3
backcall==0.2.0
backdoor-factory==0.0.0
bcrypt==3.2.2
beautifulsoup4==4.11.2
beniget==0.4.1
bidict==0.22.1
binwalk==2.3.3
blinker==1.5
boto3==1.26.27
botocore==1.29.27
Bottleneck==1.3.5
Brotli==1.0.9
CacheControl==0.12.12
cairocffi==1.4.0
capstone==4.0.2
cassandra-pylib==0.0.0
Cerberus==1.3.2
certifi==2023.7.22
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.0.1
cheroot==9.0.0+ds1
CherryPy==18.8.0
cleo==2.0.1
click==8.1.6
click-plugins==1.1.1
colorama==0.4.6
configobj==5.0.8
contourpy==1.0.7
crashtest==0.4.1
cryptography==38.0.4
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dhcpig==0.0.0
dicttoxml==1.7.15
distlib==0.3.6
distro==1.8.0
Django==3.2.19
dnslib==0.9.23
dnspython==2.3.0
docutils==0.19
dsinternals==1.2.4
dulwich==0.21.2
EasyProcess==1.1
et-xmlfile==1.0.1
eventlet==0.33.1
exceptiongroup==1.1.0
executing==1.2.0
ExifRead==3.0.0
fabric==2.6.0
fastimport==0.9.14
filelock==3.9.0
flasgger==0.9.5
Flask==2.2.2
Flask-RESTful==0.3.9
Flask-SocketIO==5.3.2
fonttools==4.38.0
frozenlist==1.3.3
fs==2.4.16
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.5.2
GDAL==3.6.2
GeoIP==1.3.2
geoip2==2.9.0
gevent==22.10.2
gevent-websocket==0.10.1
gpg==1.18.0
greenlet==2.0.2
grpcio==1.51.1
gvm-tools==22.9.0
gyp==0.1
h11==0.14.0
h2==4.1.0
hashID==3.1.4
hpack==4.0.0
html5lib==1.1
httpcore==0.16.3
httpie==3.2.1
httplib2==0.20.4
httpx==0.23.3
humanfriendly==10.0
hyperframe==6.0.0
idna==3.3
imageio==2.4.1
impacket==0.11.0
importlib-metadata==4.12.0
inflect==2.1.0
iniconfig==1.1.1
instaloader==4.11
invoke==2.0.0
ipdb==0.13.9
ipwhois==1.2.0
ipython==8.5.0
isodate==0.6.1
itsdangerous==2.1.2
jaraco.classes==3.2.1
jaraco.collections==3.8.0
jaraco.context==4.2.0
jaraco.functools==3.5.0
jaraco.text==3.11.1
javaproperties==0.8.1
jdcal==1.0
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
jsondiff==2.0.0
jsonpointer==2.3
jsonschema==4.10.3
keyring==23.9.3
kiwisolver==0.0.0
knack==0.10.1
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
ldap3==2.9.1
ldapdomaindump==0.9.3
LibAppArmor==3.0.8
libevdev==0.5
llvmlite==0.39.1
lockfile==0.12.2
logutils==0.3.5
lxml==4.9.2
lz4==4.0.2+dfsg
Mako==1.2.4.dev0
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
marshmallow==3.18.0
mate-menu==22.4.1
mate-tweak==22.10.0
matplotlib==3.6.3
matplotlib-inline==0.1.6
maxminddb==2.1.0
mdurl==0.1.2
mechanize==0.4.8
mistune0==0.8.4
more-itertools==8.10.0
mpmath==0.0.0
msal==1.21.0
msal-extensions==1.0.0
msgpack==1.0.3
msrest==0.6.21
msrestazure==0.6.4
multidict==6.0.4
mutagen==1.46.0
natsort==8.0.2
netaddr==0.8.0
netifaces==0.11.0
networkx==2.8.8
notify2==0.3
ntpsec==1.2.2
numba==0.56.4
numexpr==2.8.4
numpy==1.24.2
nyx==2.1.0
oauthlib==3.2.2
odfpy==1.4.2
olefile==0.46
onboard==1.4.1
onionshare==2.6
onionshare-cli==2.6
openpyxl==3.0.9
opensnitch-ui==1.5.8
ospd-openvas==22.4.5
outcome==1.2.0
packaging==23.0
paho-mqtt==1.6.1
pandas==1.5.3
paramiko==2.12.0
parsero==0.82
parso==0.8.3
pcapy==0.11.5.dev0
pefile==2023.2.7
pexpect==4.8.0
phonenumbers==8.12.57
pickleshare==0.7.5
Pillow==9.4.0
pkginfo==1.8.2
platformdirs==2.6.0
pluggy==1.0.0+repack
pluginbase==1.0.1
ply==3.11
poetry==1.3.2
poetry-core==1.4.0
portalocker==2.2.1
portend==3.1.0
prettytable==3.6.0
prompt-toolkit==3.0.36
protobuf==4.21.12
psutil==5.9.4
psycopg2==2.9.5
ptyprocess==0.7.0
pure-eval==0.0.0
py==1.11.0
pyasn==1.6.1
pyasn1==0.4.8
pycairo==1.20.1
pycparser==2.21
pycryptodomex==3.11.0
pycups==2.0.1
pycurl==7.45.2
pydot==1.4.2
pyenchant==3.2.2
pygeoip==0.3.2
PyGithub==1.55
Pygments==2.14.0
PyGObject==3.42.2
pygraphviz==1.7
pyinotify==0.9.6
PyJWT==2.6.0
pylev==1.4.0
pymongo==3.11.0
pymssql==2.2.2
PyMySQL==1.0.2
PyNaCl==1.5.0
pynvim==0.4.2
pyodbc==4.0.34
PyOpenGL==3.1.6
pyOpenSSL==23.0.0
pyparsing==3.0.9
PyPDF2==2.12.1
pypng==0.20220715.0
PyQt5==5.15.9
PyQt5-sip==12.11.1
PyQt6==6.4.2
PyQt6-sip==13.4.1
pyqtgraph==0.13.1
pyrsistent==0.18.1
pyrtlsdr==0.2.91
pyserial==3.5
PySimpleSOAP==1.16.2
pysmbc==1.0.23
pysmi==0.3.2
pysnmp==4.4.12
PySocks==1.7.1
pytest==7.2.1
python-apt==2.6.0
python-dateutil==2.8.2
python-debian==0.1.49
python-debianbts==4.0.1
python-docx==0.8.11
python-dotenv==0.21.0
python-engineio==4.3.4
python-gnupg==0.4.9
python-gvm==23.4.2
python-Levenshtein==0.12.2
python-libnmap==0.7.2
python-magic==0.4.26
python-magic-ahupp==0.4.13
python-memcached==1.58
python-pptx==0.6.18
python-slugify==4.0.0
python-socketio==5.7.2
python-xlib==0.33
pythran==0.11.0
pytz==2022.7.1
pyudev==0.24.0
pyusb==1.2.1.post2
PyVirtualDisplay==2.2
pyxattr==0.8.1
pyxdg==0.28
PyYAML==6.0
qrcode==7.4.2
redis==4.3.4
reportbug==12.0.0
repoze.lru==0.7
requests==2.28.1
requests-futures==1.0.0
requests-oauthlib==1.3.0
requests-toolbelt==0.10.1
rfc3986==1.5.0
rfc3987==1.3.8
rfcat==2.0.1
rich==13.3.1
roman==3.3
Routes==2.5.1
rq==1.13.0
rtlsdr-scanner==1.3.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
scapy==2.5.0
scipy==1.10.1
scp==0.14.4
SecretStorage==3.3.3
secure==0.3.0
selenium==4.15.2
semver==2.10.2
setproctitle==1.3.1
shellingham==1.5.0
sherlock==0.14.3
shodan==1.28.0
simplejson==3.18.3
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2
specan==0.0.0
SQLAlchemy==1.4.46
sqlparse==0.4.2
sshtunnel==0.1.4
stack-data==0.6.2
stem==1.8.1
strictyaml==1.6.1
sympy==1.11.1
tables==3.7.0
tabulate==0.8.9
tempora==5.1.0
termcolor==1.1.0
terminaltables==3.1.10
terminator==2.1.2
toml==0.10.2
tomlkit==0.11.7
torbrowser-launcher==0.3.6
tornado==6.2
torrequest==0.1.0
tqdm==4.64.1
traitlets==5.5.0
trio==0.22.0
trio-websocket==0.9.2
typing_extensions==4.7.1
uamqp==1.5.3
ufoLib2==0.14.0
ufw==0.36.2
unicodedata2==15.0.0
Unidecode==1.3.6
uritemplate==4.1.1
urllib3==1.26.12
urwid==2.1.2
validators==0.20.0
vinetto==0.8.0
virtualenv==20.17.1+ds
visvis==1.13.0
wadllib==1.3.6
wafw00f==2.2.0
wcwidth==0.2.5
webcolors==1.11.1
webencodings==0.5.1
WebOb==1.8.6
websocket-client==1.2.3
websockets==10.4
websploit==4.0.4
Werkzeug==2.2.2
wfuzz==3.1.0
whois==0.8
wifite==2.6.6
wrapt==1.14.1
wsproto==1.2.0
wxPython==4.2.0
xcffib==0.11.1
xdg==5
XlsxWriter==3.0.2
xmltodict==0.13.0
yara-python==4.2.0
yarl==1.8.2
yt-dlp==2023.3.4
zc.lockfile==2.0
zipp==1.0.0
zope.event==4.4
zope.interface==5.5.2
