{% extends "rjikm/layoutabout.html" %}

{% block body %}
<div style="background-color: maroon;">
<!-- Creating a section with a class of aboutus. It is also creating a heading and paragraph. -->
<section>
 <div class="aboutus">
  <h2 style="text-align:center; color: white;"> About Us</h2>
  <p style="text-align:center; color: white;"> This is a biannual open access scholarly journal. All the articles published in the journal are double blind peer reviewed by eminent information and knowledge management scholars. One print special edition is published annually. This edition publishes the most popular articles of the year.</p>
 </div>
</section>

<!-- Creating a section with a class of vision. It is also creating a heading and paragraph. -->
<section class="vision">
  <h2 style="text-align:center; color: white;"> Vision</h2>
  <p style="text-align:center; color: white;">To be the preferred academic
    journal on information and knowledge management in Africa </p>
</section>


<!-- Creating a section with a class of mission. It is also creating a heading and paragraph. -->
<section class="mission">
  <h2 style="text-align:center; color: white;">Mission</h2>
  <p style="text-align:center; color: white;"> To provide a credible, authoritative and trustworthy platform for information and knowledge management professionals and scholars in Africa and beyond to engage, share and learn through the publishing of quality scholarly materials</p>
</section>
</div>
{% endblock %}