{% extends "rjikm/layoutarticles.html" %}

{% block body %}
<section style="background-color: maroon; margin:0px 0px 0px 0px; padding: 150px 0px 200px;">
  <div style=" text-align:center; color: white; font-family: Times New Roman, Times, serif; font-size: 24px;">
      <h2 style="text-align:center;"> {{ volume }} </h2>
    <ol style="display: inline-block; text-align: left">
        {% for article in articles %}
        <li style="padding: 5px;" >
        <a href="{% url 'vol7articles' %}" style="text-align: left; color: wheat;"> {{article.title}}</a>
        </li>
        {% endfor %}
      </ol>
  </div>
</section>
{% endblock %}
