{% extends "rjikm/layoutcontact.html" %}

{% block body %}
<section class="contactheader">
  <div>
    <h1>Let's Get In Touch!</h1>
    <p>Ready to start your next project with us? Send us a messages and we will get back to you as soon as possible!</p>
  </div>
  <!-- A map of the location of the company. -->
    <div >
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8170146071766!2d36.81640611560605!3d-1.2836703359874655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f11efc0b203dd%3A0x5376f1de78cf155a!2sNairobi%20C%20B%20D!5e0!3m2!1sen!2ske!4v1672056405044!5m2!1sen!2ske" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
<!-- A form that is used to send messages to the company. -->
<section class="submitform" >
<div>
 <!-- A form that is used to send messages to the company. -->
  <form method="post" action="{% url 'contact' %}" style="margin: 0px 250px 0px 0px;">
    {% csrf_token %}
   {% for field in form %}
        <div class="row mb-3">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Send" style="width: 300px; border-radius: 8px;  margin: 70px 0px 0px 0px;">
</form>
</div>
</section>
<!-- Displaying the message that the user has sent. -->
{% if messages %}
    <ul class="messages" style="color:green; list-style-type: none; text-align:center; font-family: "Times New Roman", Times, serif; font-size: 20px; font-weight: bold;">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}