{% extends "rjikm/layoutarticles.html" %}

{% block body %}
<h1>Current Articles</h1>
<section style="background-color: #B6E2D3; margin:0px 0px 0px 0px; padding: 100px 0px 80px;">
    <div style=" text-align:center; color: black; font-family: Times New Roman, Times, serif; font-size: 24px;">
        <ul style="display: inline-block; text-align: center; list-style: none;">
            {% for article in articles %}
            <h2 style="text-align:center;">Vol. {{article.volume }} No. {{article.number}} ({{article.year}})</h2>
             
                <li style="padding: 5px;">
                    <a href="{% url 'article_view' article.id %}" style="text-align: left; color: maroon;" target="_blank">
                    {{ article.title }}</a></li>
             
                
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}
