{% extends "rjikm/layoutoutsubmit.html" %}
{%load crispy_forms_tags %}
{% block body %}
{% load static %}
<div style="margin: 0px; width:2000px; height:600px; background-image: url({% static 'rjikm/background-image.jpg' %}); background-size: cover; background-repeat: no-repeat; background-position: center; color: #fff;">
 <div style="margin: 100px 600px 20px 600px; padding: 150px;">
  <h1>Log in</h1>
<!-- This is the form that is being rendered. -->
<div  >
  <!-- This is the form that is being rendered. -->
  <form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary" style="margin-top:20px">Log in</button>
  </form>
   <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a>.</p>
</div>
   </div>
</div>
{% endblock %}