{% extends "rjikm/layoutoutsubmit.html" %}

{% block body %}
<section style="margin: 70px 0px 0px 0px; background-color: maroon; color: #fff; font-size:18px; font-family: Times New Roman, Times, serif;">
  <div>
    <h1 style="text-align:center;">Submission Preparation Checklist</h1>
    <p style="text-align:center;">As part of the submission process, authors are required to check off their submission's compliance with all the following items, and submissions may be returned to author that do not adhere to these guidelines.</p>
      <ol style="display: inline-block; text-align: left; margin: 0px 80px 0px 80px;">
          <li style="padding: 5px;">The submission has not been previously published, nor is it before another journal for consideration (or an explanation has been provided in Comments to the Editor).</li>
          <li style="padding: 5px;">The submission file is in OpenOffice, Microsoft Word, RTF, or WordPerfect document file format.</li>
          <li style="padding: 5px;">Where available, URLs for the references have been provided.</li>
          <li style="padding: 5px;">The text is single-spaced; uses a 12-point font; employs italics, rather than underlining (except with URL addresses); and all illustrations, figures, and tables are placed within the text at the appropriate points, rather than at the end.</li>
          <li style="padding: 5px;">The text adheres to the stylistic and bibliographic requirements outlined in the Author Guidelines, which is found in About the Journal.</li>
          <li style="padding: 5px;">If submitting to a peer-reviewed section of the journal, the instructions in Ensuring a Blind Review have been followed.</li>
      </ol>
  </div>
</section>
<section style="background-color:maroon; color:white; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px">
   <h1 style="text-align:left;">Submit Manuscript Here</h1>
<form method="post" enctype="multipart/form-data" action="{% url 'submit' %}" style="padding: 0px 0px 0px 150px">
    {% csrf_token %}
   {% for field in form %}
        <div class="row mb-3">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Submit" style="width: 200px; border-radius: 8px;">
</form>

</section>
  {% if messages %}
    <ul class="messages" style="color:green; list-style-type: none; text-align:center; font-family: "Times New Roman", Times, serif;">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
