{% extends "rjikm/layoutvol7articles.html" %}

{% block body %}
<section style="background-color: maroon;">
 <div style="margin:20px 100px 20px 100px; color:white; font-family: Times New Roman, Times, serif; font-size: 20px">
       <!-- Creating a heading 2 with the volume of the article. -->
        <h2 style="text-align:center;"> Vol. {{article.volume }} No. {{article.number}} {{article.year}} </h2>

        <!-- Creating a heading 3 with the title of the article. -->
        <h3 style="text-align:center; color: wheat;"> {{article.title}}</h3>
        <h3 style="text-align:center;">
            {% for author in article.authors.all %}
                {{ author.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </h3>

        <p><strong>{{article.abstract_title}}</strong></p>
        <p style="text-align:justify;"> {{article.abstract}}</p>
        <p><strong>{{article.keyword_title}}</strong></p>
        <p> {{article.keywords}}</p>
        <p> <a href="{% url 'view_pdf' article.id %}" target="_blank">{{article.title}}</a></p>
 </div>
</section>

{% endblock %}